<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.hsbp.androsphinx">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.google.zxing.client.android"/>
        <package android:name="com.srowen.bs.android"/>
        <package android:name="com.srowen.bs.android.simple"/>
    </queries>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".SphinxApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:extractNativeLibs="false"
        tools:targetApi="m"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".AccountsActivity"
            android:exported="false"
            android:label="@string/title_activity_accounts"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".AccountsActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".SphinxAutofillService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/service_configuration" />
        </service>
        <service
            android:name=".ClipboardCleanerService"
            android:exported="false"
            />
    </application>

</manifest>